.badge {
  animation: showBadge 200ms ease-in-out;
  background-color: rgb(199, 8, 8);
  color: white;
  border-radius: 50%;
  padding: 0.25em 0.5em;
  font-size: 0.75em;
  position: absolute;
  min-width: 1.5em;
  height: 1.5em;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -1rem;
  top: -0.5rem;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

@keyframes showBadge {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
