.pageContainer {
  padding: 2em;
  text-align: center;
  min-height: calc(100vh - 140px);
}

.heading {
  font-size: 2em;
  margin-bottom: 1em;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}
