.pageContainer {
  padding: 2em;
  text-align: center;
  min-height: calc(100vh - 140px);
}

.heading {
  font-size: 2em;
  margin-bottom: 1em;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  text-align: left;
}

.fieldset {
  border: 1px solid #ccc;
  padding: 1rem;
  margin: 2rem 0;
  border-radius: 4px;
}

.legend {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
