.productPage {
  padding: 2em;
  text-align: center;
  min-height: calc(100vh - 140px);
}

.productHeader {
  margin-bottom: 2em;
}

.backLink {
  display: inline-block;
  margin-top: 1em;
  text-decoration: none;
  color: #3f46c8;
  font-weight: bold;
  transition: color 0.3s;
}

.backLink:hover {
  color: #333;
}

.productDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  padding: 2em;
}

.imageSection {
  width: 50%;
  height: auto;
}

.productInfo {
  max-width: 400px;
  text-align: left;
}

.productDescription {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.productPrice {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1em;
}
