.button {
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
  border: none;
  border-radius: 0;
  transition: background-color 0.3s, color 0.3s;
  margin: 0.5em;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  gap: 0.5em;
  /* justify-content: baseline; */
}

.primary {
  background-color: #000;
  color: #fff;
}

.primary:hover {
  background-color: #333;
  color: #fff;
}

.secondary {
  background-color: transparent;
  color: #000;
  border: 2px solid #000;
}

.secondary:hover {
  background-color: #000;
  color: #fff;
}
